include CHANGELOG
include LICENSE
include README.rst
include requirements.*
include demo.gif

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include decaptcha *.png
